@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Permanent+Marker&display=swap');

@import "tailwindcss";

@layer components {
    .textArea {
        background-color: rgba(46, 45, 45, 0.633);
        font-size: 40px;
        border-radius: 20px;
        padding: 30px;
        color: rgba(255, 255, 255, 0.379);
        scrollbar-width: none;
    }

    .convert-button {
        transition: all ease-in-out .5s;
        font-family: "Gamja Flower", cursive;
        font-size: 40px;
        width: 300px;
        height: 100px;
        border-radius: 20px;
        background-color: rgb(17, 17, 17);
        font-weight: 200px;
    }

    .convert-button:hover {
        transform: scale(1.2);
        background-color: rgb(56, 53, 53);
    }

    .convert-button:hover {
        cursor: pointer;
    }
}